read_sdc.tcl
read_verilog.tcl
mmmc.tcl
*_guide*
*.csh
at.tcl
/projs/earlgrey_sky130/impl/*/v1/openroad/*/scens/
/projs/earlgrey_sky130/impl/*/v1/openroad/*/script
/projs/earlgrey_sky130/impl/*/v1/openroad/*/sdc_apr_*
/projs/earlgrey_sky130/impl/*/v1/openroad/*/floorplan
/.vars.tcl
/projs/earlgrey_sky130/ddm/list.f
/projs/earlgrey_sky130/impl/list.f
lim
sys
*.cfg
blks
docs
log
out
rpt
run.csh
setup.tcl
server
global
pdk
signoff_scens
blkcmp
g2.rc
checklist
config
apr_cts
apr_finish
apr_fplan
apr_init
apr_place
apr_postcts
apr_postroute
apr_route
syn
sdc_syn
read_rtl.tcl
